{{#partial "content"}}
    {{#if editHero}}
        <h1>Edit Hero Details</h1>
        <form action="/heroes/{{editHero.id}}/update" method="post">
            <label for="name">Edit Name:</label>
            <input id="name" name="name" type="text" value="{{editHero.name}}">

            <label for="age">Edit Age:</label>
            <input id="age" name="age" type="text" value="{{editHero.age}}">

            <label for="power">Edit Power:</label>
            <input id="power" name="power" type="text" value="{{editHero.power}}">

            <label for="weakness">Edit Weakness:</label>
            <input id="weakness" name="weakness" type="text" value="{{editHero.weakness}}">


    {{else}}
  <h1>Add A Hero</h1>
        <form action = "/heroes/new" method="post">
        <label for = "name">Hero Name:</label>
        <input id ="name" name = "name" type = "text">

        <label for = "age">Hero Age:</label>
        <input id = "age" name = "age" type = "text">

        <label for="power">Hero Special Power:</label>
        <input id="power" name = "power" type="text">

        <label for = "weakness">Hero Weakness:</label>
        <input id="weakness" name="weakness" type="text">
    {{/if}}
        <button type="submit" class="button" style="vertical-align:middle"><span>ADD</span></button>
    </form>
    </form>


{{/partial}}

{{> layout.hbs}}