{{#partial "content"}}

{{#if editSquad}}
    <h1>Edit Squad Details</h1>
    <form action="/squads/{{editSquad.id}}/update" method="post">
        <label for="name">Edit Name</label>
        <input id="name" name="name" type="text" value="{{editSquad.name}}">

        <label for="maxSize">Edit Size</label>
        <input id="maxSize" name="maxSize" type="text" value="{{editSquad.maxSize}}">

        <label for="cause">Edit Cause</label>
        <input id="cause" name="cause" type="text" value="{{editSquad.cause}}">

{{else}}
        <h1>Add A Squad</h1>
    <form action = "/squads/new" method="post">
        <label for = "name">Squad Name</label>
        <input id ="name" name = "name" type = "text">

        <label for = "maxSize">Max Size</label>
        <input id = "maxSize" name = "maxSize" type = "text">

        <label for="cause">Cause</label>
        <input id="cause" name = "cause" type="text">

{{/if}}
    <button type="submit" class="button" style="vertical-align:middle"><span>ADD SQUAD</span></button>
</form>
</form>


{{/partial}}

{{> layout.hbs}}